APRESENTA_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJhLmFwcmVzZW50YS5tZSIsImlhdCI6MTc3NzY1MDg3MCwiZXhwIjoxODA5MTg2ODcwLCJ1c2VyIjoxOTQzMywiY29tcGFueSI6NTcxNX0.VP6ekR0UrpDY6DL1kyhkAWQ8ta31D8kD0r-nSFZLLkw
APRESENTA_BASE_URL=https://api.apresenta.me
APRESENTA_WEBHOOK_URL=https://api.apresenta.me/webhook/integration/5715/764ffb3e893afa6c42b7ec6c99474a1d
